.container {
  width: 100%;
  padding: 125px 0 100px 0;
  background-color: #dbf6e9;
  color: #31326f;
  display: flex;
  align-items: center;
}

.container-inner {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

.container-inner-text {
  max-width: 50%;
}

.container-inner-image {
  margin-right: 100px;
  min-width: 30%;
  min-height: 100px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.container-inner-text-title {
  font-size: 40pt;
}
.container-inner-text-subtitle {
  margin-top: 70px;
  font-size: 15pt;
  line-height: 2em;
}

.component-button {
  background-color: #9ddfd3 !important;
  margin-top: 30px;
  font-size: 13pt;
  opacity: 0.9;
}

.component-button:hover {
  opacity: 0.7;
}
