<div class="container">

  <div class="container-inner">

    <div class=container-inner-text>
      <div class=container-inner-text-title>
        Tjenester
      </div>
      <div class=container-inner-text-subtitle>
        Alle vet at et godt førsteinntrykk er viktig og din hjemmeside vil som regel være det første møtet mellom deg og kundene. Derfor er det viktig med en profesjonell, strukturert og attraktiv nettside som skaper en trygghet hos kunden. Våre utviklere programmerer din nettside etter dine ønsker og behov. Vi har profesjonelle designere som sørger for at din identiteten kommer frem, og at du skiller deg ut i markedet. I tillegg til utvikling og design av nettsiden, kan du også velge å bli markedsført av oss. Dette innebærer at vi markedsfører deg ved hjelp av en effektiv strategi som sørger for at din nettside er synlig, når ut til ønsket målgruppe og gir en økt omsetning.
      </div>
      <button id=button class=component-button (click)="processButtonClick()">Les mer</button>
    </div>
    <div class=container-inner-image>

    </div>

  </div>

</div>
