<div class="container">

  <div class="container-inner">
    <div class="container-title">How it works</div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        1
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Get in touch with us</div>
        <div class=container-inner-content-subtitle>First step will be getting in touch with us, we will get to know you and start working together.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        2
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Get in touch with us</div>
        <div class=container-inner-content-subtitle>First step will be getting in touch with us, we will get to know you and start working together.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        3
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Get in touch with us</div>
        <div class=container-inner-content-subtitle>First step will be getting in touch with us, we will get to know you and start working together.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        4
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Get in touch with us</div>
        <div class=container-inner-content-subtitle>First step will be getting in touch with us, we will get to know you and start working together.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        5
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Get in touch with us</div>
        <div class=container-inner-content-subtitle>First step will be getting in touch with us, we will get to know you and start working together.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        6
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Get in touch with us</div>
        <div class=container-inner-content-subtitle>First step will be getting in touch with us, we will get to know you and start working together.</div>
      </div>
    </div>
    <button id=button class=component-button routerLink="/contacts">Kontaks oss</button>
  </div>

</div>


<!-- <div class="container-title">How it works</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 1</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 2</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 3</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 4</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 5</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-second-title>Plus...</div>
<div class=container-second-subtitle>If you decide...</div>
<div class=marketing-container>
  <div class=marketing-container-box></div>
  <div class=marketing-container-box></div>
  <div class=marketing-container-box></div>
</div> -->
