<div class="container">

  <div class="container-inner">
    <div class="container-title">Hvordan fungerer det egentlig?</div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        1
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Du kontakter oss</div>
        <div class=container-inner-content-subtitle>Trykk på kontakt oss knappen og vi hører fra oss innen 12 timers tid.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        2
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Vi lager design</div>
        <div class=container-inner-content-subtitle>Vi kommer med forslag til design slik at du får en nettside som representerer deg på ønsket måte.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        3
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Vi programmerer nettsiden</div>
        <div class=container-inner-content-subtitle>Etter å ha blitt enige om design programmerer våre utviklere nettsiden din.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        4
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Levering av nettsiden</div>
        <div class=container-inner-content-subtitle>Vi tester nettsiden og når du er fornøyd vil den gjøres tilgjengelig.</div>
      </div>
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        5
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Vedlikehold</div>
        <div class=container-inner-content-subtitle>Vi sørger for vedlikehold av nettsiden slik at den alltid fungerer optimalt.</div>
      </div>
    </div>
    <div class=container-inner-plus-content>
      Tillegstjeneste:
    </div>
    <div class=container-inner-content>
      <div class=container-inner-content-image>
        6
      </div>
      <div class=container-inner-content-text>
        <div class=container-inner-content-title>Markedsføring</div>
        <div class=container-inner-content-subtitle>Om du velger dette, sørger vi for at du er synlig digitalt og når din målgruppe.</div>
      </div>
    </div>
    <button id=button class=component-button routerLink="/contacts">Kontaks oss</button>
  </div>

</div>


<!-- <div class="container-title">How it works</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 1</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 2</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 3</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 4</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-inner-content>
  <div class=container-inner-content-text>
    <div class=container-inner-content-text-title>STEP 5</div>
    <div class=container-inner-content-text-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique. Aenean velit odio, elementum in tempus ut, vehicula eu diam.</div>
  </div>
  <div class=container-inner-content-image></div>
</div>
<div class=container-second-title>Plus...</div>
<div class=container-second-subtitle>If you decide...</div>
<div class=marketing-container>
  <div class=marketing-container-box></div>
  <div class=marketing-container-box></div>
  <div class=marketing-container-box></div>
</div> -->
