.container {
  height: 80vh;
  background-color: #114347;
  background-image: url("../../../../src/assets/homeimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
}

.container-inner-title {
  padding-top: 23vh;
  font-size: 45pt;
  line-height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-inner-title-content {
  max-width: 900px;
}

.container-inner-subtitle {
  margin-top: 50px;
  text-align: center;
  font-size: 15pt;
}

.container-inner-button {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.component-button {
  width: 300px !important;
  height: 50px !important;
  background-color: #ffc93c !important;
  color: #114347;
  font-size: 18pt;
}

.component-button:hover {
  opacity: 0.7;
}

