<div class="container">

    <div class=container-inner-title>
      <div class=container-inner-title-content><p>Digital marketing and website development agency</p></div>
    </div>

    <div class=container-inner-subtitle>
      <div>We do digital design, develop websites and promote them on the internet</div>
    </div>

    <div class=container-inner-button>
      <button id=button class=component-button routerLink="contacts">Kontakt oss</button>
    </div>

</div>

<!-- <div class="container-content">Your next website</div>
<div class="container-content">Will be built</div>
<div class="container-content" style="color: red">By us.</div>
<button id="button" class="component-button" routerLink="contacts">Get an offer</button> -->
