<div class="container">

    <div class=container-inner-title>
      <div class=container-inner-title-content><p>Ta <span style="color: rgb(255, 25, 25)">ditt firma</span> til et nytt nivå med en <span style="color: rgb(255, 25, 25)">ny nettside</span></p></div>
    </div>

    <div class=container-inner-subtitle>
      <div>Vi kan hjelpe deg ved å <span style="color: rgb(255, 25, 25)">lage en nettside</span> som <span style="color: rgb(255, 25, 25)">skiller seg</span> ut i mengden</div>
    </div>

    <div class=container-inner-button>
      <button id=button class=component-button routerLink="contacts">Kontakt oss</button>
    </div>

</div>

<!-- <div class="container-content">Your next website</div>
<div class="container-content">Will be built</div>
<div class="container-content" style="color: red">By us.</div>
<button id="button" class="component-button" routerLink="contacts">Get an offer</button> -->
