ul {
  list-style-type: none;
}

a {
  opacity: 0.8;
  color: whitesmoke;
}

a:hover {
  opacity: 1;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(21, 23, 46, 0.8);
}

.header-inner {
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-size: 20pt;
  letter-spacing: 7px;
}

.nav {
  align-items: center;
  display:flex;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
  margin-right: 60px;
}

.nav a {
  padding: 1.282em 15px;
}

li:last-child {
  margin-right: 0;
}
