ul {
  list-style-type: none;
}

a:hover {
  opacity: 0.75;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  background-color:#363636;
  color: #ffffffd8;
  opacity: 0.9;
  width: 100%;
}

.nav {
  align-items: center;
  text-align: center;
  display:flex;
  margin-left: 100px;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  padding: 1.282em 15px;
  margin-right: 60px;
}
