<div class="header">

<div class="header-inner"><a routerLink="" style="color: #FFC93C" (click)="sideMenuIsOpened ? toggleSideMenu() : undefined">WEBBYNAVIA</a></div>

  <nav class="nav">

    <ul>
      <li>
        <a routerLink="">Hjem</a>
      </li>
      <li>
        <div class="dropdown">
          <div class="dropbtn"><a routerLink="services">Tjenester</a></div>
          <div class="dropdown-content">
            <a routerLink="services" fragment="development">Nettside</a>
            <a routerLink="services" fragment="marketing">Markedsføring</a>
          </div>
        </div>
      </li>
      <li>
        <a routerLink="about">Om oss</a>
      </li>
      <li>
        <a class=contact-button routerLink="contacts">Kontakt oss</a>
      </li>
    </ul>
  </nav>

  <div class=burger-menu-button (click)="toggleSideMenu()">
    <div class=menu-image></div>
    <div class=menu-image></div>
    <div class=menu-image></div>
  </div>

  <div class=burger-menu-container *ngIf="sideMenuIsOpened">
    <ul>
      <li class=container-link (click)="toggleSideMenu()"><a routerLink="">Hjem</a></li>
      <li class=container-link (click)="toggleSideMenu()"><a routerLink="services">Tjenester</a></li>
      <li class=container-link (click)="toggleSideMenu()"><a routerLink="about">Om oss</a></li>
      <li class=container-link (click)="toggleSideMenu()"><a routerLink="contacts">Kontakt oss</a></li>
    </ul>
  </div>

</div>
