<div class="header">

<nav class="nav">
  <ul>
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="about">About us</a>
    </li>
    <li>
      <a routerLink="services">Services</a>
    </li>
    <li>
      <a routerLink="portfolio">Portfolio</a>
    </li>
    <li>
      <a routerLink="contacts">Contact us</a>
    </li>
  </ul>
</nav>

</div>


<!-- <nav class="nav">
  <ul>
    <li *ngFor="let item of headerSections">
      <a>{{item.name}}</a>
    </li>
  </ul>
</nav> -->
