<div class="header">

<div class="header-inner"><a routerLink="">WEBBYNAVIA</a></div>

  <nav class="nav">

    <ul>
      <li>
        <a routerLink="">Hjem</a>
      </li>
      <li>
        <div class="dropdown">
          <div class="dropbtn"><a routerLink="services">Tjenester</a></div>
          <div class="dropdown-content">
            <a routerLink="services" fragment="development">Nettside</a>
            <a routerLink="services" fragment="marketing">Markedsføring</a>
          </div>
        </div>
      </li>
      <li>
        <a routerLink="about">Om oss</a>
      </li>
      <li>
        <a routerLink="portfolio">Prosjekter</a>
      </li>
      <li>
        <a class=contact-button routerLink="contacts">Kontakt oss</a>
      </li>
    </ul>
  </nav>

</div>
