<div class="footer">

  <div class=footer-container>
    <div class=footer-container-logo>
        <a routerLink="" style="color: #FFC93C; letter-spacing: 7px;">WEBBYNAVIA</a>
        <div class=footer-container-logo-under-block>
            <div>Alle rettigheter reservert c 2021</div>
        </div>
    </div>
    <div class=footer-container-text>
      <div class=footer-container-text-item>
        <div class=text-item-image><img src="./assets/email-footer.png" class=image></div>
        <div class=text-item-information><a target="_blank" href="mailto:support@webbynavia.no">support@webbynavia.no</a></div>
      </div>
      <div class=footer-container-text-item>
        <div class=text-item-image><img src="./assets/phone-footer.png" class=image></div>
        <div class=text-item-information><a href="tel:+46790686069">+46 790686069</a></div>
      </div>
      <div class=footer-container-text-item>
        <div class=text-item-image><img src="./assets/location-footer.png" class=image></div>
        <div class=text-item-information><a target="_blank" href="http://maps.google.com/?q=Ignaveien%20125,%201912%20Enebakk,%20Norge">Ignaveien 125, 1912 Enebakk, Norge</a></div>
      </div>
    </div>
  </div>

</div>
