ul {
  list-style-type: none;
}

a:hover {
  opacity: 0.75;
  cursor: pointer;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color:#363636;
  display: flex;
  position: absolute;
  align-items: center;
  opacity: 0.9;
  color: #ffffffd8;
}

.nav {
    align-items: center;
    text-align: center;
    display:flex;
    margin-left: 100px;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  padding: 2.532em 15px;
  margin-right: 60px;
}
