<div class="footer">

  <div class=footer-container>
    <div class=footer-container-logo><a routerLink="">WEBBYNAVIA</a></div>
    <div class=footer-container-text>
      <div class=footer-container-text-item>
        <div class=text-item-image><img src="./assets/emailwhite.svg" class=image></div>
        <div class=text-item-information><a href="mailto:business@webbynavia.no">business@webbynavia.no</a></div>
      </div>
      <div class=footer-container-text-item>
        <div class=text-item-image><img src="./assets/phonewhite.svg" class=image></div>
        <div class=text-item-information><a href="tel:+37120058098">+371 20058098</a></div>
      </div>
      <div class=footer-container-text-item>
        <div class=text-item-image><img src="./assets/locationwhite.svg" class=image></div>
        <div class=text-item-information>Norway, Fredrikkstad </div>
      </div>
    </div>
  </div>

</div>
