<div class=contacts-container>
  <div class=contacts-title>
    Kontaks oss
  </div>
  <div class=contacts-container-inner>
    <div>
      <form class=contacts-form>
        <div>
          <input class=contacts-form-input type="text" placeholder="Navn" required>
          <input class=contacts-form-input type="text" placeholder="Etternavn" required>
        </div>
        <div>
          <input class=contacts-form-input type="text" placeholder="Epost" required>
        </div>
        <div>
          <input class=contacts-form-input type="text" placeholder="Telefon nummer" required>
        </div>
        <div>
          <textarea class=contacts-form-input rows="7" placeholder="Din melding" required></textarea>
        </div>
        <div>
        <button id=button class=contacts-form-button>
          check
        </button>
        </div>
      </form>
    </div>
    <div class=contacts-map>
    </div>
  </div>
</div>
