<div class="container">

  <div class=container-intro>
    <p class=intro-title>Skriv hva du ønsker så kontakter vi deg</p>
  </div>

  <div class="container-inner">

    <iframe
    name="hidden_iframe"
    id="hidden_iframe"
    style="display:none;">
    </iframe>

    <form action="https://docs.google.com/forms/d/e/1FAIpQLScwkjxYT5SHun7IoMghh96OdoSWs8i_wbXoQTRLrkaleTLajw/formResponse"
    method="post"
    target="hidden_iframe"
    (submit)="submitForm()">
        <div class=container-inner-content>
          <input class=component-input type="text" placeholder="Ditt navn*" name="entry.2005620554" required>
        </div>

        <div class=container-inner-content>
          <input class=component-input type="text" placeholder="E-post*" name="entry.1045781291" required>
        </div>

        <div class=container-inner-content>
            <input class=component-input type="text" placeholder="Telefon*" name="entry.818882853" required>
          </div>

        <div class=container-inner-content>
          <textarea class=component-input rows="7" placeholder="Beskriv hva du er på jakt etter så snakker vi nærmere om det på telefon*" name="entry.839337160" required></textarea>
        </div>
        <div class=component-inner-button>
          <button class=component-button type="submit" id="button">Send</button>
        </div>
  </form>
  </div>

</div>

<div class=modal *ngIf="modalOpeneded" (click)="processClickOutside()">
  <div class=modal-content (mouseleave)="detectModalMouseLeave()" (mouseenter)="detectModalMouseEnter()">
    <div class="close-button-element">
        <img (click)="refreshComponent()" class=close-button src="./assets/cross.png">
    </div>
    <div class=close-container>
      <div class=close-container-image>
        <img class=close-container-image src="./assets/mail.png">
      </div>
      <div class=close-container-text>
        <div class=close-container-text-title>Takk for din melding!</div>
        <div class=close-container-text-subtitle>Vi tar kontakt med deg i løpet av neste 12 timer.</div>
      </div>
    </div>
  </div>
</div>
