.container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: #114347;
}

.container-intro {
  padding-top: 100px;
  text-align: center;
  line-height: 3em;
}

.intro-title {
  font-size: 30pt;
  margin: auto 20px;
}

.intro-subtitle {
  font-size: 15pt;
}

.container-inner {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-inner-content {
  width: 60vh;
  display: flex;
  justify-content: center;
  font-size: 15pt;
  margin: 30px;
  line-height: 1.4em;
}

.component-input {
  border-radius: 5px;
  background-color: whitesmoke;
  color: #114347;
  width: 100%;
  min-height: 40px;
  max-height: 300px;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 1px 4px rgb(20 50 0 / 30%);
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 4px rgb(20 50 0 / 30%);
  padding: 15px;
}


.component-inner-button {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.component-button {
  background-color: #FFC93C !important;
  color: #114347;
}

.container-successful-message {
  background-color: rgba(20, 22, 44, 0.95);
  padding: 40px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whitespace {
  padding: 10px;
}

.message {
  text-align: center;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-content {
  margin: auto 20px;
  background-color: whitesmoke;
  width: 700px;
  height: 400px;
  border-radius: 15px;
}

.close-button-element {
  width: inherit;
  text-align: right;
  padding: 25px 25px 0 0;
  color: red;
  font-size: 20pt;
  z-index: 10;
}

.close-button {
  width: 25px;
  height: 25px;
}

.close-container {
  background-color: whitesmoke;
  color: #114347;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.close-container-image {
  width: 150px;
}

.close-container-text {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.close-container-text-title {
  margin: 10px;
  font-size: 20pt;
}

.close-container-text-subtitle {
  margin: 20px;
  font-size: 15pt;
}

@media(hover: hover) {
    .component-button:hover {
        opacity: 0.7;
    }

    .close-button:hover {
        cursor: pointer;
        opacity: 0.7;
      }
}

@media (max-width: 500px) {

    .modal-content {
        width: auto;
        height: 50%;
    }

    .container-inner-content {
        width: 40vh;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }
