<div class="container">

  <div class="container-inner">
    <div class="container-title">Why us</div>
    <div class=container-inner-boxes>
      <div class="wrapper">
        <div class="box a">
          <div class=box-title>
            <div class=box-title-image></div>
            <div class=box-title-text>Cost effective</div>
          </div>
          <div class=box-main-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique.</div>
        </div>
        <div class="box b">
          <div class=box-title>
            <div class=box-title-image></div>
            <div class=box-title-text>Cost effective</div>
          </div>
          <div class=box-main-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique.</div>
        </div>
        <div class="box c">
          <div class=box-title>
            <div class=box-title-image></div>
            <div class=box-title-text>Cost effective</div>
          </div>
          <div class=box-main-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique.</div>
        </div>
        <div class="box d">
          <div class=box-title>
            <div class=box-title-image></div>
            <div class=box-title-text>Cost effective</div>
          </div>
          <div class=box-main-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique.</div>
        </div>
        <div class="box e">
          <div class=box-title>
            <div class=box-title-image></div>
            <div class=box-title-text>Cost effective</div>
          </div>
          <div class=box-main-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique.</div>
        </div>
        <div class="box f">
          <div class=box-title>
            <div class=box-title-image></div>
            <div class=box-title-text>Cost effective</div>
          </div>
          <div class=box-main-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Sed rhoncus, tortor sed eleifend tristique.</div>
        </div>
      </div>
    </div>
  </div>

</div>
