.container {
  width: 100%;
  height: 100%;
  background-color: #297C86;
}

.container-title {
  color: #FFC93C;
  margin-top: 50px;
  font-size: 30pt;
}

.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-inner-boxes {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  margin: 50px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 30px 60px;
}

.wrapper-content {
  width: 100%;
}

.box {
  background-color: #11434752;
  border-radius: 5px;
  padding: 20px;
  transition: 0.25s;
  border-left: 10px solid #114347;
}

.box:hover {
    transform: scale(1.03);
    transition: 0.25s;
    border-left: 10px solid #FFC93C;
}

.box-title {
  display: flex;
  align-items: center;
}

.box-title-text {
  font-size: 18pt;
}

.box-main-text {
  margin-top: 20px;
  font-size: 14pt;
}
