<div class="container">

  <div class="container-inner">
    <div class="container-title">Hvorfor velge oss?</div>
    <div class=container-inner-boxes>
      <div class="wrapper">
        <div class="box a">
          <div class=box-title>
            <div class=box-title-dot></div>
            <div class=box-title-text>Stor verdi for pengene</div>
          </div>
          <div class=box-main-text>Det kan fort koste skjorta å få en skreddersydd nettside på egenhånd. Å gjøre det gjennom oss sparer deg for hodepine og tar vare på lommeboka.</div>
        </div>
        <div class="box b">
          <div class=box-title>
            <div class=box-title-dot></div>
            <div class=box-title-text>Vi er effektive</div>
          </div>
          <div class=box-main-text>Vi leverer produktet raskt, slik at du kan benytte deg av fordelene ved å vare synlig digitalt fortest mulig.</div>
        </div>
        <div class="box c">
          <div class=box-title>
            <div class=box-title-dot></div>
            <div class=box-title-text>Stor erfaring</div>
          </div>
          <div class=box-main-text>Vi har samlet ett team av profesjonelle utviklere og designere som sørger for at våre produkter er av høyeste kvalitet.</div>
        </div>
        <div class="box d">
          <div class=box-title>
            <div class=box-title-dot></div>
            <div class=box-title-text>Vedlikehold</div>
          </div>
          <div class=box-main-text>Vi sørger for at nettsiden din fungerer optimalt til enhver tid etter leveransen. Dine kundene vil aldri få en dårlig opplevelse med nettsiden.</div>
        </div>
        <div class="box e">
          <div class=box-title>
            <div class=box-title-dot></div>
            <div class=box-title-text>Vellykket markedsføring strategi</div>
          </div>
          <div class=box-main-text>Gjennom mange år i bransjen har vi utarbeidet en markedsførings strategi som har vist seg å være effektiv for mange.</div>
        </div>
        <div class="box f">
          <div class=box-title>
            <div class=box-title-dot></div>
            <div class=box-title-text>Support 24/7</div>
          </div>
          <div class=box-main-text>Vi har døgnbemannet support dersom det skulle oppstå problemer med din nettside.</div>
        </div>
      </div>
    </div>
  </div>

</div>
