<div class="container">
  <span id=development style="position: relative; top: -100px"></span>
  <div class="container-inner">
    <div class=container-inner-box>
      <div class=container-inner-box-title>Nettsidet</div>
      <div class=container-inner-box-text>I den digitale verden er din nettside det første møtet mellom deg og kundene. En attraktiv og god nettside kan derfor skape gode første inntrykk, øke omsetningen og hjelpe deg å få flere kunder ved å være synlig digitalt. Målet vårt er å skape den perfekte hjemmesiden som representerer deg best mulig og tiltrekker deg nye kunder.
      </div>
    </div>
    <span id=marketing style="position: relative; top: -200px"></span>
    <div class=container-inner-box>
      <div class=container-inner-box-title>Markedsføring</div>
      <div class=container-inner-box-text>Det har skjedd store endringer i hvilke kanaler som er mest lønnsomme de siste årene. Det er derfor viktig å posisjonere deg der de potensielle kundene dine befinner seg. Gjennom vel utarbeidet strategi sørger vi for at du er synlig, når markedet og snakker forståelig språk som skaper deg oppmerksomhet.
      </div>
    </div>

    <div class=container-inner-button>
      <button id=button class=component-button routerLink="/contacts">Kontaks oss</button>
    </div>

</div>

<!-- <div class="container-content" id=scrollTarget>Services description</div> -->
