.container {
  width: 100%;
  background-color: whitesmoke;
  color: #114347;
}

.container-inner {
  height: 100%;
}

.container-inner-box {
  padding-top: 50px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.container-inner-box-title {
  font-size: 30pt;
  line-height: 110%;
}

.container-inner-box-text {
  font-size: 15pt;
  line-height: 100%;
  max-width: 50%;
  margin-top: 20px;
}

.component-button {
  background-color: #FFC93C !important;
  color: #114347;
  font-size: 13pt;
  opacity: 0.9;
  margin: 50px;
}

.component-button:hover {
  opacity: 0.7;
}

.container-inner-button {
  text-align: center;
}

@media (max-width: 900px) {
    .container-inner-box {
        height: auto;
    }

    .container-inner-box-text {
        max-width: 70%;
    }
}