<div class="container">
  <span id=development style="position: relative; top: -100px"></span>
  <div class="container-inner">
    <div class=container-inner-box>
      <div class=container-inner-box-title>Nettside</div>
      <div class=container-inner-box-text>I dagens samfunn benytter nesten alle seg av en eller annen form for digitalt verktøy, og store deler av omsetningen og kommunikasjon skjer digitalt. Bedrifter som har etablert seg i den digitale verden har hatt en stor fordel over de som er mindre synlig. Vi hjelper deg med å bli mer synlig ved å utvikle og designe din egen profesjonelle, strukturerte og attraktive hjemmeside, der din identitet kommer frem . Vi gir oss ikke før du er fornøyd!
      </div>
    </div>
    <span id=marketing class=marketing-thin></span>
    <div class=container-inner-box>
      <div class=container-inner-box-title>Markedsføring</div>
      <div class=container-inner-box-text>Det har skjedd store endringer i hvilke kanaler som er mest lønnsomme de siste årene. Tiden for aviser og telefonkataloger er over. Det er viktig å identifisere hvor de potensielle kundene dine befinner seg og posisjonere seg der. Vi sørger for at du er synlig, og når markedet ditt på best mulig måte gjennom vel utarbeidet markedsførings strategi. Dette har hjulpet mange å oppnå større resultater.
      </div>
    </div>

    <div class=container-inner-button>
      <button id=button class=component-button routerLink="/contacts">Kontakt oss</button>
    </div>

</div>

<!-- <div class="container-content" id=scrollTarget>Services description</div> -->
