::ng-deep .mat-tab-group {
  border: none;
}

::ng-deep .mat-tab-label {
  color: white;
  background-color:whitesmoke;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  height: 5px !important;
  min-width: 1px !important;
  width: 15px !important;
}

::ng-deep .mat-tab {
  border: none;
  max-width: 50px;
}

.container {
  background-color: rgba(20, 22, 44, 0.95);
  justify-content: center;
}

.container-intro {
  text-align: center;
  line-height: 3em;
  padding-top: 50px;
}

.intro-title {
  font-size: 30pt;
}

.intro-subtitle {
  font-size: 15pt;
}

.review {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.review-block {
  width: 550px;
  height: 250px;
  text-align: center;
  font-size: 14pt;
  color: orange
}

.review-sign {
  color: whitesmoke;
  margin-top: 20px;
}
