<div class="container">

<div class="container-intro">
  <p class="intro-title">Testimonials</p>
  <p class="intro-subtitle">Explore what our customers say about us.</p>
</div>

<div class="review">

  <mat-tab-group headerPosition="below" mat-align-tabs="center">
    <mat-tab>
      <div class="review-block">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="review-sign"><b style="color: rgb(180, 179, 179)">President Trump</b>, 2021</p>
      </div>
    </mat-tab>
    <mat-tab>
      <div class="review-block">
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p class="review-sign"><b style="color: rgb(180, 179, 179)">Maxim Ponomarenko</b>, 2020</p>
      </div>
    </mat-tab>
    <mat-tab>
      <div class="review-block">
        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        <p class="review-sign"><b style="color: rgb(180, 179, 179)">Bruce Willis</b>, 2016</p>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

</div>
