<div class="container">

  <div class="container-intro">
    <p class=intro-title>Services</p>
    <h3 class="intro-subtitle">Your next website will be <span style="color: red">designed</span>, <span style="color: red">built</span> and <span style="color: red">promoted</span> by us</h3>
  </div>

    <div class="container-inner-blocks">
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/design.svg"></div>
        <div class=content-title>Design</div>
        <div class=content-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue diam vitae nisi vulputate suscipit. Duis sit amet mauris nec lacus convallis vulputate sed ut lorem.</div>
       </div>
     </div>
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/development.svg"></div>
        <div class=content-title>Development</div>
        <div class=content-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue diam vitae nisi vulputate suscipit. Duis sit amet mauris nec lacus convallis vulputate sed ut lorem.</div>
       </div>
     </div>
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/marketing.svg"></div>
        <div class=content-title>Marketing</div>
        <div class=content-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue diam vitae nisi vulputate suscipit. Duis sit amet mauris nec lacus convallis vulputate sed ut lorem.</div>
       </div>
     </div>
    </div>

    <div class="container-intro">
      <button id="button" class="component-button" routerLink="services">More details</button>
    </div>
  </div>
