<div class="container">

  <div class="container-intro">
    <p class=intro-title>Våre tjenester</p>
    <h3 class="intro-subtitle"><span style="color: rgb(255, 25, 25)">Dine ønsker</span> er vår prioritet</h3>
  </div>

    <div class="container-inner-blocks">
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/design.svg"></div>
        <div class=content-title>Design</div>
        <div class=content-subtitle>Å skille seg ut er ekstremt viktig hvis man sikter høyt. Våre designløsninger hjelper deg å skape egen identitet innenfor den digitale verden.
        </div>
       </div>
     </div>
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/development.svg"></div>
        <div class=content-title>Nettside</div>
        <div class=content-subtitle>Din hjemmeside er det første møtet mellom deg og kundene. Målet vårt er å skape en profesjonell og attraktiv nettside sånn at kundene dine får gode første inntrykk av deg.
        </div>
       </div>
     </div>
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/marketing.svg"></div>
        <div class=content-title>Markedsføring</div>
        <div class=content-subtitle>Vi utarbeider strategi som sørger for at du er synlig på de mest lønnsomme digitale plattformene og når de potensielle kundene dine.
        </div>
       </div>
     </div>
    </div>

    <div class="container-intro">
      <button id="button" class="component-button" routerLink="services">Les mer</button>
    </div>
  </div>
