img {
  width: 110px;
  height: 90px;
}

.container {
  display: block;
  width: 100%;
  background-color:whitesmoke;
  color: #114347
}

.container-intro {
  text-align: center;
  line-height: 3em;
  padding-top: 50px;
}


.intro-title {
  font-size: 30pt;
}

.intro-subtitle {
  font-size: 15pt;
}

.container-inner-blocks {
    display: flex;
    justify-content: center;
  }  

.container-inner-block-instance {
  background-color: #114347;
  color: whitesmoke;
  margin: 35px 50px 10px 50px;
  width: 400px;
  height: 370px;
  border-radius: 10px;
  transition: 0.25s;
}

.block-instance-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.content-image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
}

.content-title {
  color: #FFC93C;
  margin-top: 20px;
  font-size: 30pt;
  line-height: 100%;
}

.content-subtitle {
  margin-top: 20px;
  font-size: 15pt;
  width: 85%;
  margin: none !important;
}

.component-button {
  background-color: #FFC93C !important;
  color: #114347;
  font-size: 13pt;
  opacity: 0.9;
  margin-bottom: 40px;
}

.smth {
}

.computer-image {
    right: 0;
    top: 50;
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: inherit;
}

@media (max-width: 1400px) {
  .container-inner-block-instance {
      height: 400px;
  }
}

@media (max-width: 1200px) {
    .container-inner-block-instance {
        margin: 50px 30px 10px 30px;
    }
    
    .content-title {
        font-size: 25pt;
    }

    .content-subtitle {
        font-size: 14pt;
    }
}

@media (max-width: 1025px) {
    .container-inner-block-instance {
        height: 420px;
    }

    .content-title {
        font-size: 20pt;
    }

    .content-subtitle {
        font-size: 13pt;
    }
}

@media (max-width: 768px) {
    .container {
    }
    
    .container-inner-blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
}   

@media (max-width: 375px) {
    .container-inner-block-instance  {
        width: 85%;
        height: 350px;
    }
}

@media (hover: hover) {
    .component-button:hover {
        opacity: 0.7;
      }

      .container-inner-block-instance:hover {
        transform: scale(1.05);
        transition: 0.25s;
      }
}