<div class="container">

  <div class="container-intro">
    <p class=intro-title>Våre tjenester</p>
    <h3 class="intro-subtitle"><span style="color: #dbf6e9">Dine ønsker</span> er vår prioritet</h3>
  </div>

    <div class="container-inner-blocks">
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/design.svg"></div>
        <div class=content-title>Design</div>
        <div class=content-subtitle>Dersom du ønsker å bli lagt merke til, vil en nettside som skiller seg ut i mengden være et nødvendig verktøy. Våre designløsninger vil hjelpe deg å skape din egen identitet i den digitale verden.
        </div>
       </div>
     </div>
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/development.svg"></div>
        <div class=content-title>Nettside</div>
        <div class=content-subtitle>Din hjemmeside vil være ditt/bedriftens ansikt utad. Vårt mål er å skape en profesjonell og attraktiv nettside som gir kundene et godt førsteinntrykk og øker omsetningen din.
        </div>
       </div>
     </div>
     <div class="container-inner-block-instance">
       <div class=block-instance-content>
        <div class=content-image><img src="./assets/marketing.svg"></div>
        <div class=content-title>Markedsføring</div>
        <div class=content-subtitle>Vi vil utarbeide en strategi for deg og din bedrift som sørger for at nettsiden er synlig på de mest lønnsomme digitale plattformene og når din målgruppe.
        </div>
       </div>
     </div>
    </div>

    <div class="container-intro">
      <button id="button" class="component-button" routerLink="services">Les mer</button>
    </div>
  </div>
