img {
  width: 110px;
  height: 90px;
}

.container {
  display: block;
  width: 100%;
  max-height: 1000px;
  background-color:whitesmoke;
  color: #114347
}

.container-intro {
  text-align: center;
  line-height: 3em;
  padding-top: 50px;
}

.container-inner-blocks {
  display: flex;
  justify-content: center;
}

.intro-title {
  font-size: 30pt;
}

.intro-subtitle {
  font-size: 15pt;
}

.container-inner-block-instance {
  background-color: #114347;
  color: whitesmoke;
  margin: 50px 50px 10px 50px;
  width: 400px;
  height: 370px;
  border-radius: 10px;
  transition: 0.25s;
}

.container-inner-block-instance:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.block-instance-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.content-image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
}

.content-title {
  color: #FFC93C;
  margin-top: 20px;
  font-size: 30pt;
  line-height: 100%;
}

.content-subtitle {
  margin-top: 20px;
  font-size: 15pt;
  width: 85%;
}

.component-button {
  background-color: #FFC93C !important;
  color: #114347;
  font-size: 13pt;
  opacity: 0.9;
  margin-bottom: 40px;
}

.component-button:hover {
  opacity: 0.7;
}

.smth {
}

.computer-image {
    right: 0;
    top: 50;
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: inherit;
}