.container {
  width: 100%;
  min-height: 650px;
  background-color: #114347;
  background-image: url("../../../../src/assets/homeimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

.container-inner {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

.container-inner-text {
  max-width: 55%;
}
.container-inner-text-title {
  font-size: 40pt;
}
.container-inner-text-subtitle {
  margin-top: 70px;
  font-size: 15pt;
  line-height: 1.7em;
}

.component-button {
  background-color: #FFC93C !important;
  color: #114347;
  margin-top: 30px;
  font-size: 13pt;
  opacity: 0.9;
}

@media(hover: hover) {
    .component-button:hover {
        opacity: 0.7;
    }
}

@media (max-width: 1250px) {
    
   .container-inner {
       margin-left: 50px;
   }
   
    .container-inner-text {
       max-width: 70%;
   }
}

@media (max-width: 1000px) {
    .container {
        padding-top: 50px;
    }
}

@media (max-width: 825px) {
    .container {
        padding-top: 125px;
        padding-bottom: 70px;
    }
}

@media (max-width: 500px) {
    .container {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .container-inner-text {
        max-width: 90%;
    }

    .container-inner-text-title {
        font-size: 35pt;
    }

    .container-inner-text-subtitle {
        margin-top: 40px;
        font-size: 13pt;
    }
}