<div class="container">

  <div class="container-inner">

    <div class=container-inner-text>
      <div class=container-inner-text-title>
        Om oss
      </div>
      <div class=container-inner-text-subtitle>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue diam vitae nisi vulputate suscipit. Duis sit amet mauris nec lacus convallis vulputate sed ut lorem. Vivamus feugiat ornare orci, id lobortis ante consectetur sit amet. Cras consectetur mauris velit, quis aliquam mauris malesuada dictum. Ut odio turpis, cursus malesuada nisl sed, vehicula pharetra ligula. Nam mollis accumsan felis porttitor scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
      </div>
      <button id=button class=component-button routerLink="/contacts">Kontakt oss</button>
    </div>
    <div class=container-inner-image>

    </div>

  </div>

</div>
