<div class="container">

  <div class="container-inner">

    <div class=container-inner-text>
      <div class=container-inner-text-title>
        Om oss
      </div>
      <div class=container-inner-text-subtitle>
        Webbynavia AS er et firma med store ambisjoner og visjoner. Vi er stolt leverandør av nettsider og designløsninger som har revolusjonert mange virksomheter. Våre spesialister har en årrekke med arbeid bak seg, og ønsker å skape betydningsfulle produkter for din bedrift. Programmering er et stor og komplisert fagområde, vårt mål er å spare deg for tid og energi ved å sørge for at du får ønsket produkt fortest mulig. Velger du oss, velger du den korteste veien til suksessen.
      </div>
      <button id=button class=component-button routerLink="/contacts">Kontakt oss</button>
    </div>
    <div class=container-inner-image>

    </div>

  </div>

</div>
