.content {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  position: fixed;
  width: 100%;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto
}
