.container {
  display: block;
  width: 100%;
  max-height: 1000px;
  background-color:whitesmoke;
  color: rgba(20, 22, 44, 0.90);
}

.container-intro {
  text-align: center;
  line-height: 3em;
  padding-top: 50px;
}

.container-inner-block {
  display: flex;
  justify-content: center;
}

.intro-title {
  font-size: 30pt;
}

.intro-subtitle {
  font-size: 15pt;
}

.container-inner-block-content {
  margin: 50px 50px 15px 50px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(41, 41, 41, 0.15);
  border-radius: 5px;
}

.component-button {
  background-color: rgba(20, 22, 44, 0.95);
  color: whitesmoke;
  font-size: 13pt;
  opacity: 0.9;
  margin-bottom: 30px;
}

.component-button:hover {
  opacity: 0.7;
  color: white;
}
