<div class="container">

  <div class="container-inner">
    <div class=container-inner-text>
      <div class=container-inner-text-title>Tallene snakker selv for oss</div>
      <div class=container-inner-text-subtitle>Vår erfaring hjelper oss å gi <span style="color: rgb(255, 25, 25)">deg</span> de resultatene du <span style="color: rgb(255, 25, 25)">selv ønsker</span></div>
    </div>
    <div class=container-inner-boxes>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/calendar.svg" class=box-content-image>
          <div class=box-content-title>5</div>
          <div class=box-content-text>År I bransjen</div>
        </div>
      </div>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/people.svg" class=box-content-image>
          <div class=box-content-title>23</div>
          <div class=box-content-text>Fornøyde kunder</div>
        </div>
      </div>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/dollar.svg" class=box-content-image>
          <div class=box-content-title>>1 000 000</div>
          <div class=box-content-text>Fortjeneste vår markedsføring har skapt for våre kunder</div>
        </div>
      </div>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/phone.svg" class=box-content-image>
          <div class=box-content-title>>1 200</div>
          <div class=box-content-text>Salg vi har tiltrukket til våre kunder</div>
        </div>
      </div>
    </div>
  </div>

</div>
