.container {
  width: 100%;
  background-color: #297C86;
  background: linear-gradient(0deg, rgba(17,67,71,1), rgba(41,124,134,1) 50%);
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container-inner {
  margin-top: 50px;
  width: 100%;
}

.container-inner-text {
  text-align: center;
  line-height: 3em;
}

.container-inner-text-title {
  color: #FFC93C;
  font-size: 30pt;
}

.container-inner-text-subtitle {
  margin-top: 15px;
  font-size: 15pt;
}

.container-inner-boxes {
  display: flex;
  justify-content: space-around;
  margin: 35px 100px 50px 100px;
}

.container-inner-boxes-block {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: #114347;
  transition: 0.25s;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box-content {
  height: 100%;
  padding-top: 25px;
}

.box-content-image {
  width: auto;
  height: 70px;
}

.box-content-title {
  color: #FFC93C;
  padding-top: 15px;
  font-size: 28pt;
  line-height: 100%;
}

.box-content-text {
  padding-top: 20px;
  font-size: 15pt;
  line-height: 100%;
  padding: 15px 20px;
}

@media(hover: hover) {
    .container-inner-boxes-block:hover {
        transform: scale(1.05);
        transition: 0.25s;
    }      
}

@media(max-width: 1300px) {
    .container-inner-boxes {
        margin: 35px 50px 50px 50px
    }
}

@media(max-width: 1180px) {
    .container-inner-boxes {
        flex-wrap: wrap;
        margin: 35px 100px 50px 100px;
    }

    .container-inner-boxes-block {
        margin-bottom: 20px;
    }
}

@media(max-width: 600px) {

    .box-content {
        padding-top: 30px;
    }

    .container-inner-text {
        margin: auto 20px;
    }

    .container-inner-boxes {
        margin: 35px auto;
    }

    .container-inner-text-subtitle {
        font-size: 13pt;
    }

    .box-content-text {
        font-size: 13pt;
    }
}

@media(max-width: 375px) {
    
}