<div class="container">

  <div class="container-inner">
    <div class=container-inner-text>
      <div class=container-inner-text-title>The numbers speak for us</div>
      <div class=container-inner-text-subtitle>Thanks to the experience behind us, a high-quality approach to work is guaranteed</div>
    </div>
    <div class=container-inner-boxes>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/calendar.svg" class=box-content-image>
          <div class=box-content-title>13</div>
          <div class=box-content-text>Years in the IT industry</div>
        </div>
      </div>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/people.svg" class=box-content-image>
          <div class=box-content-title>23</div>
          <div class=box-content-text>Well-served customers</div>
        </div>
      </div>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/dollar.svg" class=box-content-image>
          <div class=box-content-title>130 000+</div>
          <div class=box-content-text>Turnover of our ad companies</div>
        </div>
      </div>
      <div class=container-inner-boxes-block>
        <div class=box-content>
          <img src="./assets/phone.svg" class=box-content-image>
          <div class=box-content-title>10 000+</div>
          <div class=box-content-text>Calls and requests our clients received</div>
        </div>
      </div>
    </div>
  </div>

</div>
