.container {
  width: 100%;
  height: 520px;
  background-color: rgba(20, 22, 44, 0.95);
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container-inner {
  margin-top: 50px;
  width: 100%;
}

.container-inner-text {
  text-align: center;
  line-height: 3em;
}

.container-inner-text-title {
  font-size: 30pt;
}

.container-inner-text-subtitle {
  margin-top: 15px;
  font-size: 15pt;
}

.container-inner-boxes {
  display: flex;
  justify-content: space-between;
  margin: 50px 160px 0px 160px;
}

.container-inner-boxes-block {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: whitesmoke;
  color:rgba(20, 22, 44, 0.95);
  transition: 0.25s;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-inner-boxes-block:hover {
  background-color: white;
  transform: scale(1.05);
  transition: 0.25s;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 15px 24px;
}

.box-content {
  height: 100%;
  padding-top: 25px;
  max-width: 75%;
}

.box-content-image {
  width: 70px;
  height: 70px;
}

.box-content-title {
  padding-top: 15px;
  font-size: 30pt;
  line-height: 100%;
}

.box-content-text {
  padding-top: 20px;
  font-size: 15pt;
  line-height: 100%;
}
