.container {
  background-color: whitesmoke;
  color: rgba(20, 22, 44, 0.90);
}

.container-title {
  padding-top: 80px;
  text-align: center;
  height: 200px;
  font-size: 30pt;
}

.container-inner {
  min-height: 325px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-inner-title {
  margin-bottom: 50px;
  font-size: 18pt;
  font-weight: bold;
}

.container-inner-content {
  font-size: 14pt;
  color: rgb(61, 65, 109);
}

.container-inner-text {
  max-width: 50%;
}

.container-inner-image {
  min-width: 420px;
  height: 280px;
  background-color: lightgrey;
  margin-right: 150px;
  border-radius: 10px;
}

.anchor{
  position: relative;
  top: -100px;
  left: 0;
  width: 0px;
  height: 0px;
}
